In [1]:
import pandas as pd
import kenjee_scrapper as gs

In [2]:
path = "C:/Users/Nadir/Desktop/B/Projects/perfumer_salary_proj/chromedriver"
df = gs.get_jobs('data analyst', 10, False, path, 15)

Progress: 0/10
Progress: 1/10
Progress: 2/10
Progress: 3/10
Progress: 4/10
Progress: 5/10
Progress: 6/10
Progress: 7/10
Progress: 8/10
Progress: 9/10
Progress: 10/10
Scraping terminated before reaching target number of jobs. Needed 10, got 10.

In [3]:
print(df)

   index                  Job Title  \
0      0   Entry Level Data Analyst
1      1            BI Data Analyst
2      2        Junior Data Analyst
3      3  Junior level Data Analyst
4      4               Data Analyst
5      5           Business Analyst
6      6  Data Analyst â€“ Data Entry
7      7  Data Analyst I (226 Days)
8      8         Data Entry Analyst
9      9            BI Data Analyst

                               Salary Estimate  \
0         Employer Provided Salary:$70K - $80K
1  Employer Provided Salary:$60 - $80 Per Hour
2                Employer Provided Salary:$30K
3  Employer Provided Salary:$27 - $35 Per Hour
4                $60K - $116K (Glassdoor est.)
5         Employer Provided Salary:$72K - $98K
6                                           -1
7                Employer Provided Salary:$62K
8  Employer Provided Salary:$21 - $41 Per Hour
9  Employer Provided Salary:$65 - $70 Per Hour

                                     Job Description Rating  \
0  Description:\nTechnical Skills:\nPower BI, SQL...     -1
1  Data Analyst with Power BI\nLocation: Texas\nD...     -1
2  About Avalanche\nAvalanche is transforming how...     -1
3  We are seeking entry level Data Analyst's to b...     -1
4  ROLE TITLE\nData Analyst (Data Warehouse)\n\nR...    4.8
5  1Starr Enterprises is hiring a Business Analys...     -1
6  Note: While this is a fully remote position, w...    4.6
7  Data Analyst I (226 Days) -(RTP20220222-027)\n...    3.3
8  We are looking for a Data Entry Analyst to typ...    3.5
9  Title: Sr. BI Data Analyst\nLocation: Remote\n...     -1

                              Company Name       Location  Headquarters  \
0                           Talentheed Inc   San Jose, CA            -1
1                              Workcog inc         Remote            -1
2                                Avalanche         Remote            -1
3                                  TRESUME    Ashburn, VA            -1
4                   NR Consulting LLC\n4.8   Purchase, NY            -1
5                                   1Starr         Remote            -1
6                            Juristat\n4.6         Remote            -1
7  Dallas Independent School District\n3.3     Dallas, TX            -1
8                     Newegg Staffing\n3.5  Inglewood, CA            -1
9                           Jayes Tech LLC         Remote            -1

                   Size           Founded  \
0                    -1                -1
1                    -1                -1
2                    -1                -1
3                    -1                -1
4  201 to 500 Employees              2017
5                    -1                -1
6     1 to 50 Employees              2012
7      10000+ Employees              1867
8               Unknown  Company - Public
9               Unknown  Company - Public

                                   Type of ownership  \
0                                                 -1
1                                                 -1
2                                                 -1
3                                                 -1
4  <selenium.webdriver.remote.webelement.WebEleme...
5                                                 -1
6  <selenium.webdriver.remote.webelement.WebEleme...
7  <selenium.webdriver.remote.webelement.WebEleme...
8  <selenium.webdriver.remote.webelement.WebEleme...
9  <selenium.webdriver.remote.webelement.WebEleme...

                                  Industry                  Sector  \
0                                       -1                      -1
1                                       -1                      -1
2                                       -1                      -1
3                                       -1                      -1
4                              IT Services  Information Technology
5                                       -1                      -1
6  Enterprise Software & Network Solutions  Information Technology
7                   Preschool & Child Care               Education
8                                       -1                      -1
9                                       -1                      -1

                    Revenue  Competitors
0                        -1           -1
1                        -1           -1
2                        -1           -1
3                        -1           -1
4  Unknown / Non-Applicable           -1
5                        -1           -1
6  Unknown / Non-Applicable           -1
7    $1 to $2 billion (USD)           -1
8                        -1           -1
9                        -1           -1