In [1]:
import pandas as pd
import kenjee_scrapper as gs

In [2]:
path = "C:/Users/Nadir/Desktop/B/Projects/perfumer_salary_proj/chromedriver"
df = gs.get_jobs('data analyst', 15, False, path, 15)

Progress: 0/15
 x out worked
Progress: 1/15
 x out failed
Progress: 2/15
 x out failed
Progress: 3/15
 x out failed
Progress: 4/15
Progress: 4/15
Progress: 4/15
 x out failed
Progress: 5/15
Progress: 5/15
Progress: 5/15
Progress: 5/15
 x out failed
Progress: 6/15
Progress: 6/15
Progress: 6/15
 x out failed
Progress: 7/15
 x out failed
Progress: 8/15
Progress: 8/15
Progress: 8/15
 x out failed
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Progress: 9/15
Scraping terminated before reaching target number of jobs. Needed 15, got 9.

In [3]:
print(df)

    index                 Job Title Salary Estimate  \
0       0       Junior Data Analyst
1       1       Junior Data Analyst
2       2       Junior Data Analyst
3       3          Jr. Data Analyst
4       4              Data Analyst
5       5              Data Analyst
6       6  Entry Level Data Analyst
7       7              Data Analyst
8       8           Data Analyst II
9       9    Education Data Analyst
10     10              Data Analyst
11     11       Junior Data Analyst
12     12    Associate Data Analyst
13     13   Data Validation Analyst
14     14           Jr Data Analyst

                                      Job Description Rating  \
0   Junior Data Analyst Responsibilities:\nManagin...    4.5
1   Remote | HQ in Oak Park, IL\n\nDue to growing ...    2.9
2   Junior Data Analyst (001)\nAbout us\nCobbs Cre...     -1
3   Data Analyst Job Description Template\nWe are ...     -1
4   Responsibilities\nDesigns, drives, and impleme...     -1
5   Disney Streaming is a business unit within The...    3.5
6   Our clients are looking for multiple Entry Lev...     -1
7   Proficiency with Microsoft Excel.\nExperience ...    5.0
8   The California Public Employeesâ€™ Retirement Sy...    4.0
9   Job no: 497903\nWork type: Part-Time\nLocation...    4.2
10  As an innovative leader in business analytics ...     -1
11  Are you ready for an amazing career opportunit...    2.9
12  ABOUT COLOR OF CHANGE\nColor Of Change is the ...    2.6
13  Overview of the Position\nThis is a Part-Time ...     -1
14  Position/Summary:\nThe MCH Helpline serves as ...    3.9

                                         Company Name            Location  \
0                                PCS GLOBAL TECH\n4.5     Los Angeles, CA
1                                         Shaker\n2.9              Remote
2                              Cobbs Creek Healthcare  Newtown Square, PA
3                                        Softnice Inc              Remote
4                                      Talentheed Inc        San Jose, CA
5                               Disney Streaming\n3.5        New York, NY
6                                             TRESUME       Baltimore, MD
7              Integration Developer Network LLC\n5.0              Remote
8   California Public Employees' Retirement System...      Sacramento, CA
9                              Drexel University\n4.2    Philadelphia, PA
10                                   Planalytics, Inc          Berwyn, PA
11                                       MealPal\n2.9        New York, NY
12                               Color Of Change\n2.6      Washington, DC
13                     Center for Workforce Inclusion              Remote
14                             VC ERP Consulting\n3.9    Indianapolis, IN

    Headquarters  Size  Founded  Type of ownership  Industry  Sector  Revenue  \
0             -1    -1       -1                 -1        -1      -1       -1
1             -1    -1       -1                 -1        -1      -1       -1
2             -1    -1       -1                 -1        -1      -1       -1
3             -1    -1       -1                 -1        -1      -1       -1
4             -1    -1       -1                 -1        -1      -1       -1
5             -1    -1       -1                 -1        -1      -1       -1
6             -1    -1       -1                 -1        -1      -1       -1
7             -1    -1       -1                 -1        -1      -1       -1
8             -1    -1       -1                 -1        -1      -1       -1
9             -1    -1       -1                 -1        -1      -1       -1
10            -1    -1       -1                 -1        -1      -1       -1
11            -1    -1       -1                 -1        -1      -1       -1
12            -1    -1       -1                 -1        -1      -1       -1
13            -1    -1       -1                 -1        -1      -1       -1
14            -1    -1       -1                 -1        -1      -1       -1

    Competitors
0            -1
1            -1
2            -1
3            -1
4            -1
5            -1
6            -1
7            -1
8            -1
9            -1
10           -1
11           -1
12           -1
13           -1
14           -1